body {
  display: flex;
  margin: 0;
  min-height: 100vh;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(rgb(255, 155, 155), rgb(255, 192, 56));
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 50px;
  margin: 75px 0;
  width: 400px;
  background-color: white;
  box-shadow: 4px 4px 5px 2px rgb(0,0,0,0.2);
  border-radius: 10px;
}

.container h1 {
  text-align: center;
  margin: 0 0 30px;
}

.search-form {
  display: flex;
  margin: 0 0 20px;
}

.search-form input[type="text"] {
  width: 100%;
  font-size: 16px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-form button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 0 5px 5px 0;
  background: linear-gradient(rgb(255, 118, 64), rgb(255, 72, 0));
  color: white;
  border: none;
  cursor: pointer;
}

.search-form button:disabled {
  cursor: auto;
  opacity: 0.8;
}

.search-form button:hover {
  opacity: 0.8;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  position: relative;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

ul li.done {
  text-decoration: line-through;
}

ul li:last-child {
  margin-bottom: 0;
}

ul li .actions {
  position: absolute;
  top: 6px;
  right: 10px;
  display: none;
}

ul li:hover .actions {
  display: block;
}

ul li .actions button {
  font-size: 18px;
  width: 38px;
  padding: 10px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.7;
}

ul li .actions button:hover {
  opacity: 1;
}

ul li .actions .done {
  color: green;
}

ul li .actions .delete {
  color: red;
}

ul li .actions .edit {
  color: rgb(8, 93, 204);
}

ul li .todo-input {
  font-size: 16px;
  border: none;
  width: 100%;
  background-color: none;
}

ul li.add {
  border-style: dashed;
  border-color: #666;
  padding: 0;
}

ul li.add:hover {
  border-color: rgb(255, 72, 0);
  box-shadow: 1px 2px 3px 2px rgb(0,0,0,0.1);
}

ul li.add .add-btn {
  width: 100%;
  text-align: left;
  font-size: 16px;
  background-color: transparent;
  border: none;
  padding: 20px;
  color: #666;
  cursor: pointer;
}

ul li.add .add-btn:hover {
  color: rgb(255, 72, 0);
}

ul li.add .add-form {
  padding: 20px;
}

.add-form .todo-input {
  margin-bottom: 20px;
}

.add-form button {
  padding: 8px 12px;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.add-form button.save {
  background: linear-gradient(rgb(255, 118, 64), rgb(255, 72, 0));
  color: white;
  border: none;
}

.add-form button.save:hover {
  opacity: 0.8;
}

.add-form button.cancel {
  background-color: white;
  border: 1px solid #ccc;
}

.add-form button.cancel:hover {
  background-color: #eee;
}

.filters {
  margin-bottom: 20px;
}

.filters button {
  padding: 8px 14px;
  margin-right: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  cursor: pointer;
}

.filters button:hover {
  background-color: #eee;
}

.filters button.active {
  border-color:  rgb(255, 72, 0);
  background-color: rgb(252, 180, 151);
}
